.wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.header {
  background-color: var(--color-primary);
  &.transparent {
    background-color: transparent;
  }
  color: var(--color-white);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 17.25vw;
  transition: background-color 0.2s ease-in-out;

  a {
    font-size: 16px;
  }
}

.menuListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: clamp(2rem, 4.2411vw + -0.7143rem, 4.375rem);
}

.logo {
  width: 180px;
  min-width: 180px;
  img {
    width: 100%;
    height: inherit;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .header {
    padding: 16px 5vw;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 100px;
    min-width: 100px;
    img {
      width: 100%;
      height: inherit;
    }
  }

  .menuList {
    gap: clamp(1.25rem, 10.1563vw + -3.625rem, 2.875rem);
  }
}

@media (max-width: 768px) {
  .logo {
    display: flex;
    gap: 16px;

    & img {
      align-self: center;
    }
  }

  .burgerButton {
    border: none;
    cursor: pointer;
    font-size: 24px;
    background: none;
    color: white;
  }

  .headerBurgerMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: fixed;
    width: 100vw;
    background-color: var(--color-white);
    padding: 1.75rem 6vw;
    z-index: 1000;
  }

  .menuList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
