.wrapper {
  scroll-margin-top: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cards {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  @media (max-width: 540px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
